.form-contact {
    padding: 15% 15%;
    background: #f4f7f8;
    
    }
#container {
max-width: 500px;
margin: auto;

} 


.br {
   border-radius:  .5em;

}
/* DRY Classes------------------ */
.rounded{
    border-radius: 100%;
}

.avatar {
display: block;
margin: 0 auto 1em;

}


.btn {

   text-align: center;
    font-size: 1em;
    font-weight: 300;
    cursor: pointer; 
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin: .5em 0 1em;
    text-transform: uppercase;

  }
  .btn:hover { 
    opacity: .75; 
  }

  .default {
    background-color: #e718e7; 
    border-radius: 10px;
    
  }


  @media (min-width: 1050px){
     .inln{
        width: auto;
        display: inline-block;

     }

  }
  