

/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body{
    padding-top: 68px;
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	
}

p {
	font-size: .95em;
	margin-bottom: .5em;
	 
}
h1{

	color: #093a58;
	font-size: xx-large;
	padding-left:0;
	
}
h2,
a {
	color: #093a58;;
}

h2 {
	font-style:oblique;
    color: tomato;
	margin-top: auto;
	margin-bottom: .5em;
	text-decoration-line: underline;
}

a {
	text-decoration: none;
}

img {
	/* max-width: 15em; */
	width: 100%;
	vertical-align: middle;

}
.contact{
background-color:rgb(245, 205, 190);

}
.name {
	
	font-size: 1.25em;
	margin: 0;
	padding: .5em;
}
.name,  h3 {
display: inline-block;

}

.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav {

   margin-top: 5px;
   margin-left: auto;
}
.main-nav a {
	font-size: .95em;
	color: #093a58;
	text-transform: uppercase;
	display: block;
    font-weight: bold;
    text-decoration: none;
}

.main-nav a:hover,
.main-nav a:focus {
	color: white;
	background-color: brown;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 0px 1px 1px white;
}
/* ---- Layout Containers ---- */

.main-header {
	padding: .5em;
	padding: .5em;	
}
.banner,
.main-footer {
	text-align:  center;
}

.banner {
	color: #fff;
	background-image: linear-gradient(to top, rgba(238, 220, 220, 0.5) 0%,rgb(243, 236, 236) 100%), url("../img/World-Travel-HD-Wallpaper-at-NewYork.jpg");
	background-size: cover;
	background-position: center;
	padding: 1em 0;
	margin-bottom: auto;
}

.col {
	padding: .5em;
}
.descrip{

    margin-top:10%;

}
.forty {
    padding-top: 4em;
	padding-left:4em ;
	padding-right: 4em;
	padding-bottom: 4em;
	border-radius: 40%;
	box-shadow: rgb(54, 38, 41);
	

}
.info{
    padding: 1em;
    /* padding:4em ; */
    /* padding-right: 4em; */
	/* padding-bottom: 4em; */
	border-radius: 40%;	
}



  
.main-footer {

	background: #d9e4ea;
	padding: 2em 0;	
}

/* ---- Page Elements ---- */
.logo {
	width: 280px;
}
.headline {
	color: whitesmoke ;
	margin-bottom: 0;

}

.icon-location {
	 width: 35px;
	 position: absolute;
	 top: -15px;
	 right: -15px;
}
.top-nav a.icon{
	background: black;
	display: none;
	position: absolute;
	right: 0;
	top: 0;	
	}
.top-nav #myLink{
		display: inline-block;
		}
.top-nav a.icon{
		background: black;
		display: block;
		position: absolute;
		right: 0;
		top: 0;	
		}
.top-nav a {
		color: ivory;
		padding: 14px, 16px;
		text-decoration: none;
		font-size: 17px;
		display: black;
		}
.top-nav a:hover{
		background-color: #ddd;
		color: black;
		}
.gallery-container{
	/* padding: 10px 10px 10px 6px; */
	padding: 68px;
	position: relative;
	justify-content: center;
	background-color: rgb(250, 248, 248);
   
}

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
	cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 30px;
	margin-top: -60px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 3.5em;
	border-radius: 3px 0 0 3px;
	padding-right: 2em;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 80px 12px;
	position: absolute;
	top: 0;
  }
  
  /* Container for image text */
  .caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Six columns side by side */
  .column {
	float: left;
	width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
	opacity: 0.6;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }



/* Form Fields -------------------- */

input,
textarea {		
  font-size: 1em;
  color: black;
  font-weight: 300; 
  width: 100%;
  border: none;
  height: auto;
  padding: 10px;
  outline: 0;
  margin-bottom: 1.2em;
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0, 0.05);
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;

}

label {

  display: block;
  margin:1em 1em 1em .5em; 
}

/* --------------------------FORM ERROR TOOLTIP MESSAGES-------------------------- */

.input-tooltip {
	min-width: 50px;
	height: 25px;
	display: none;
	position: relative;
	margin: 0 0 5px 0;
	padding: 0 10px 10px 10px;
	font-size: 15px;
	text-align: center;
	color: red;
	border: 1px solid #a5a5a5;
	border-bottom: 3px solid #a5a5a5;
	border-radius: 15px;
	/* border-radius: 0 0 20% 20%; */
	box-shadow: 2px -1px 2px #8a8888;
}
.input-tooltip-notValid {
	display: inline-block;
	color: red;
}
.input-tooltip-valid {
	display: inline-block;
	color: green;
	border-color: green;
}
.input-tooltip::after  {
	content: '';
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	left: 20%;
	border-top: 10px solid #a5a5a5;
	border-left:  8px solid transparent;
	border-right: 8px solid transparent;
}
.input-tooltip-valid::after { 
	
	border-top-color: green; 
}

.ava { 
	margin: 0 auto 1em;
	width: 3em;	
}

@media (min-width: 769px) {

	#myLinks{
		display:block !important;
	 }

	.main-header {
		position: fixed;
		background: rgb(241, 107, 83);
		box-shadow: 0 1px 4px rgba(0,0,0, .4);
		width: 100%;
		top: 0;
		z-index: 1000;
	}
	.forty {
		width: 70%;
		max-width: 10000px;
		margin: 0 auto;	
	
	}
	.wrap{
		margin: auto;
		padding-bottom: 68px;
		padding-top: 40px;
		
	}

	.container {
		width: 100%;
		margin: 0 auto;
	}
	 .name,
	 .col {
		 float: left;

	 }
	 .primary,
	 .secondary {
         width: 50%;

	 }
	 .main-nav {
         float: right;

	 }
	 .main-nav li {
		 display: inline-block;
		 margin-left: 15px;
	 }
	 .tagline {
		 font-size: 1.4em;
	 }

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
	.top-nav, .icon{
		display: none;
	}
	.column {
		flex: 50%;
		max-width: 50%;
	  }	

}

@media (min-width: 1025px) {
	.container {
		width: 80%;
		max-width: 1150px;
	}
    .primary {
		width: 40%;
	}
	.secondary,
	.tertiary {
        width: 30%;
	}	
	.top-nav, .icon{
		display: none;
	}	
	#myLinks{
       display:block !important;

	}

}
